<!-- Open Splash Screen with the Brand -->
<!-- <thf-splash></thf-splash> -->

<thf-header (click)="readTasks()">
  <thf-navbar>
  </thf-navbar>
</thf-header>

<thf-content>
  
  <div align="middle">
    <ion-title>Tarefas</ion-title>
  </div>

  <thf-card *ngFor="let task of tasks" (click)="itemTapped($event, task)">

    <thf-card-header primary> {{task.description}} </thf-card-header>
    
    <thf-card-content> {{task.id}} - {{task.displayDate}} </thf-card-content>
    
  </thf-card>

</thf-content>

<thf-footer>
  <thf-float-button side="right bottom" (click)="addTask()"></thf-float-button>
</thf-footer>