<!--
  Generated template for the AddPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Nova Tarefa</ion-title>
  </ion-navbar>
</ion-header>

<thf-content padding>
  
  <thf-input placeholder="Descrição" type="text" [(ngModel)]="task.description"></thf-input>
  <thf-input type="date" [(ngModel)]="task.formattedDate"></thf-input>

  <div align="middle">
    <thf-button estilo="totvs1" (click)="saveTask()">Salvar</thf-button>
    <thf-button *ngIf='task.id' estilo="totvs2" (click)="deleteTask()">Excluir</thf-button>
  </div>

</thf-content>
